<div style="display:flex">

<div class="pane">
 <div>
  <span class="anchorStyle">College</span>: National Institute of Technology (Himachal pradesh)
 </div>
 <div>
    <span class="anchorStyle">Branch</span>: Electronics and Communication Engineering.
   </div>
   <div>
      <span class="anchorStyle">CGPA</span>: 7.65
     </div>
     <div>
        <span class="anchorStyle">Year of Passing</span>: 2012
       </div>


</div>

   <div class="pane">
      <div>
       <span class="anchorStyle">High School</span>: Aryan Public School, Bilaspur (Himachal pradesh)
      </div>
      <div>
         <span class="anchorStyle">Branch</span>: Science.
        </div>
        <div>
           <span class="anchorStyle">Percentage</span>: 87.6%
          </div>
          <div>
             <span class="anchorStyle">Year of Passing</span>: 2007
            </div>
     
   
     </div>


     <div class="pane">
        <div>
         <span class="anchorStyle">Matriculation School</span>: D.A.V public School, Bilspur (Himachal pradesh)
        </div>
        <div>
           <span class="anchorStyle">Branch</span>: Science, Social Science, Maths
          </div>
          <div>
             <span class="anchorStyle">Percentage</span>: 90.2%
            </div>
            <div>
               <span class="anchorStyle">Year of Passing</span>: 2005
              </div>
       
       
       </div>


       <div class="pane">
          <div>
           <span class="anchorStyle"> Resume in the word format can be downloaded by clicking link below:</span>: 
                </div>
         
      <div class="linkClass" onclick="window.open('assets/Ambuj_Shandil.doc')">
        Download
      </div>
      
         </div>
</div>
