<div class="pane">
  <div class="anchorStyle">Following are brief details of roles/ responsibilities in project he undertook in Wells Fargo:
  </div>

  <div class="paneInternal">
    <div>
      <span class="anchorStyle"> Project Name</span>: Service Request Center</div>
    <div>
      <span class="anchorStyle"> Duration</span>: December 2019 – Present </div>
    <div>
      <span class="anchorStyle"> Tools & Technologies</span>: Spring boot, Spring batch, PCF, Spring JPA, Hibernate etc.
    </div>
    <div>
      <span class="anchorStyle"> Duties Performed</span>:
      <ul>
        <li> Design database to store the configuration and the business data.</li>
        <li> Develop backend Rest API in spring boot.</li>
        <li>Writing test case .</li>
        <li>Ensuring high test coverage and code quality.</li>
        <li> Troubleshooting/Defect resolution.</li>
        <li> Code review.</li>
        <li>Estimate requirements as given in JIRA cards.</li>
      </ul>
      <span class="anchorStyle">Roles</span>:
      <ul>
        <li> Application backend development.</li>
        <li>Troubleshooting/Defect resolution. </li>
        <li> Code review.</li>
        <li> Estimation of story points for functional/Non-functional requirements.</li>
      </ul>
    </div>
  </div>

 
     
</div>

<div class="pane">
  <div class="anchorStyle">Following are brief details of roles/ responsibilities in different projects he undertook in Infosys Limited:
  </div>

  <div class="paneInternal">
    <div>
      <span class="anchorStyle"> Project Name</span>: Suncorp</div>
    <div>
      <span class="anchorStyle"> Duration</span>: December 2018 – November 2019 </div>
    <div>
      <span class="anchorStyle"> Tools & Technologies</span>: Spring boot, Spring MVC, ReactJS, JavaScript, Jest, Enzyme, Maven, Grunt, Webpack, Jenkins, Bit bucket,
      Git, Java7/8, JSP, HTML, CSS.
    </div>
    <div>
      <span class="anchorStyle"> Duties Performed</span>:
      <ul>
        <li> Develop front end in ReactJS and integrating same in JSP.</li>
        <li> Develop backend Rest API in spring boot.</li>
        <li>Writing test case in Jest/Enzyme and Junit.</li>
        <li>Ensuring high test coverage and code quality.</li>
        <li> Troubleshooting/Defect resolution.</li>
        <li> Code review.</li>
        <li>Estimate requirements as given in JIRA cards.</li>
      </ul>
      <span class="anchorStyle">Roles</span>:
      <ul>
        <li> Application front end and backend development.</li>
        <li>Troubleshooting/Defect resolution. </li>
        <li> Code review.</li>
        <li> Estimation of story points for functional/Non-functional requirements.</li>
      </ul>
    </div>
  </div>

  <div class="paneInternal">
    <div>
      <span class="anchorStyle"> Project Name</span>: Citi Private Bank</div>
    <div>
      <span class="anchorStyle"> Duration</span>: November 2017 – November 2018 </div>

    <div>
      <span class="anchorStyle"> Tools & Technologies</span>: Bootstrap, HTML, CSS, Typescript, Material Design, Angular 2+.
    </div>
    <div>
      <span class="anchorStyle">
        Duties Performed
      </span>:
      <ul>
        <li> Redesigned front end of Citi Private bank website using Angular 5 from scratch.</li>
        <li>Worked closely with backend team to integrate with RESTful API.</li>
        <li> Built reusable table component, settings component, spinner component, dynamic top navigation, reusable input field
          components.</li>
        <li> Gathered and understood requirements from already exiting BAU Citi private bank web application and mapped them to
          components on UI.</li>
        <li> Improved performance of the Application by using Lazy Loading Design pattern instead of Eager loading.</li>
      </ul>
      <div>
        <span class="anchorStyle"> Roles:</span>
        <ul>
          <li>Application front end development.</li>
          <li> Requirements elicitation and translation to technical specifications</li>
          <li> Provide solutions for application performance improvement</li>
          <li>Interact with clients to gather requirement and mirror the same in the frontend</li>
          <li> Troubleshooting/Defect resolution.</li>
          <li>Code review.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="paneInternal">
    <div>
      <span class="anchorStyle"> Project Name</span>: Blue Shield of California</div>
    <div>
      <span class="anchorStyle"> Duration</span>: March 2017 - October 2017</div>
    <div>
      <span class="anchorStyle"> Tools & Technologies</span>: IBM WebSphere Portal, Foundation, Spring Portlets, JavaScript, HTML, CSS, JSP, Maven,
      Jenkins.
    </div>
    <div>
      <span class="anchorStyle"> Duties Performed</span>:
      <ul>
        <li> Fixed critical production defects.</li>
        <li> Integration with other modules and testing to achieve business goals and Unit testing of own and other modules.</li>
      </ul>
    </div>


    <div>
      <span class="anchorStyle"> Roles</span>:
      <ul>
        <li>Application front end and backend development.</li>
        <li> Troubleshooting/Defect resolution.</li>
        <li> Code review.</li>
        <li> Application production support.</li>
        <li> Unit/functional testing.</li>
      </ul>
    </div>
  </div>

  <div class="paneInternal">
      <div>
          <span class="anchorStyle"> Project Name</span>: Horizon Blue Cross Blue Shield of California 
      </div>
      <div>
          <span class="anchorStyle">   Duration</span>: July 2013 - December 2016
      </div>
      <div>
          <span class="anchorStyle">Tools & Technologies</span>: IBM    
    WebSphere Portal, Bootstrap, Spring Portlets, JavaScript, JQuery, HTML, CSS, JSP, DB2, SVN, Jenkins, DOJO. 
    </div>
    <div>
        <span class="anchorStyle">
    Duties Performed:
    </span>
    <ul>
   <li> Enhanced and Developed Member Portal site of https://www.horizonblue.com/members.</li> 
    <li>Developed new functionalities like Claims, Providers, Physician review in the portal. </li> 
    <li>Integration with other modules and testing to achieve business goals
    and Unit testing of own and other modules.</li> 
    <li> Fixed critical production defects in already exiting functionalities.</li>
   <li> Redesigned the front end using Bootstrap to make the portal application responsive.</li>
    <li>Designed Technical Requirement</li>
   <li> Document and Detailed Level Design Documents from Business Requirement Documents.</li> 
   <li> Developed new Portal theme to be used across application.</li>
   <li> Production/Post Production support.</li>
   <li> Knowledge transfer to new members of team.</li>
    <li>Interaction
    with teams from other organization to realize chat in Member portal. </li>
    <li> Requirement analysis, design & development of
    complex flows of backend and front end.
    </li>
  </ul>
  </div>
  <div>
      <span class="anchorStyle">  
    Roles
    </span>:
    <ul>
    <li>Participate in business and system requirements sessions </li>
    <li>Requirements
    elicitation and translation to technical specifications</li> 
    <li>Anchor proof of concept (POC) development to validate proposed
    solution and reduce technical risk.
    </li>
    <li>Provide inputs on solution architecture based on evaluation/understanding of solution
    alternatives, frameworks and products</li>
    <li> Interact with clients to elicit architectural and non-functional requirements
    like performance, scalability, reliability, availability, maintainability. </li>
    <li> Application front end and backend development.</li>
    <li>Troubleshooting/Defect resolution. </li>
    <li>Code review.</li> 
    <li> Application production support</li>
  </ul>
  </div> 
  </div>
</div>