<div>
    Following are brief details of roles/ responsibilities in different projects he undertook in Infosys Limited:

    Project Name:	Suncorp
    Duration:	December 2018 – Present 
    Tools & Technologies:	
    Spring boot, ReactJS, JavaScript, Jest, Enzyme, Maven, Grunt, Webpack, Jenkins, Bit bucket, Git, Java7/8, JSP, HTML, CSS.
    
    
    Duties Performed:	
    •	Develop front end in ReactJS and integrating same in JSP.
    •	Develop backend Rest API in spring boot.
    •	Writing test case in Jest/Enzyme and Junit.
    •	Ensuring high test coverage and code quality.
    •	Troubleshooting/Defect resolution.
    •	Code review.
    •	Estimate requirements as given in JIRA cards.
    
     Roles:
    •	Application front end and backend development.
    •	Troubleshooting/Defect resolution.
    •	Code review.
    •	Estimation of story points for functional/Non-functional requirements.
    
    
     
    Project Name:	Citi Private Bank
    Duration:	November 2017 – November 2018 
    Tools & Technologies:
      
    Bootstrap, HTML, CSS, Typescript, Material Design, Angular 2+.
    
    Duties Performed:	
    •	Redesigned front end of Citi Private bank website using Angular 5 from scratch.
    •	Worked closely with backend team to integrate with RESTful API.
    •	Built reusable table component, settings component, spinner component, dynamic top navigation, reusable input field components.
    •	Gathered and understood requirements from already exiting BAU Citi private bank web application and mapped them to components on UI.
    •	Improved performance of the Application by using Lazy Loading Design pattern instead of Eager loading.
    
       Roles:
    •	Application front end development.
    •	Requirements elicitation and translation to technical specifications.
    •	Provide solutions for application performance improvement. 
    •	Interact with clients to gather requirement and mirror the same in the frontend.
    •	Troubleshooting/Defect resolution.
    •	Code review.
    
    
    
    
    Project Name:	Blue Shield of California
    
    Duration:	March 2017 - October 2017
    Tools & Technologies:	
    IBM WebSphere Portal, Foundation, Spring Portlets, JavaScript, HTML, CSS, JSP, Maven, Jenkins.
    
    Duties Performed:	
    •	Fixed critical production defects.
    •	Integration with other modules and testing to achieve business goals and Unit testing of own and other modules.
    
    
         Roles:
    •	Application front end and backend development.
    •	Troubleshooting/Defect resolution.
    •	Code review.
    •	Application production support.
    •	Unit/functional testing.
    
    
    Project Name:	Horizon Blue Cross Blue Shield of California
    
    Duration:	July 2013 - December 2016
    Tools & Technologies:	
    IBM WebSphere Portal, Bootstrap, Spring Portlets, JavaScript, JQuery, HTML, CSS, JSP, DB2, SVN, Jenkins, DOJO.
    
    
    Duties Performed:	
    •	Enhanced and Developed Member Portal site of https://www.horizonblue.com/members.
    •	Developed new functionalities like Claims, Providers, Physician review in the portal.
    •	Integration with other modules and testing to achieve business goals and Unit testing of own and other modules.
    •	Fixed critical production defects in already exiting functionalities.
    •	Redesigned the front end using Bootstrap to make the portal application responsive.
    •	Designed Technical Requirement Document and Detailed Level Design Documents from Business Requirement Documents.
    •	Developed new Portal theme to be used across application.
    •	Production/Post Production support.
    •	Knowledge transfer to new members of team.
    •	Interaction with teams from other organization to realize chat in Member portal.
    •	Requirement analysis, design & development of complex flows of backend and front end.
    
    Roles:
    •	Participate in business and system requirements sessions 
    •	Requirements elicitation and translation to technical specifications 
    •	Anchor proof of concept (POC) development to validate proposed solution and reduce technical risk. 
    •	Provide inputs on solution architecture based on evaluation/understanding of solution alternatives, frameworks and products 
    •	Interact with clients to elicit architectural and non-functional requirements like performance, scalability, reliability, availability, maintainability.
    •	Application front end and backend development.
    •	Troubleshooting/Defect resolution.
    •	Code review.
    •	Application production support
    
</div>
