.background {
    background-image: url("assets/byanu.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* You can add global styles to this file, and also import other style files */
