<div>
    Ambuj Shandil

    Technology Analyst
    
    Role and strength(Overview):
    
    His major Roles and Responsibilities during the employment were as mentioned below.
    
    1) End to end execution of new projects- Business needs, requirement analysis and formulation, preparation of system functionality specification, sprint planning
    and effort estimation, software design, development and delivery, implementation and support.
    
    2)Requirement Gathering: Understand the business requirements by going through the business requirement document and with inputs from business analysts. Participate in creating high level estimate. Convert the business requirements into functional 
    and application specifications. 
    
    3)Design: Creating technical and detailed design documents in order to provide deliverable in line with the business requirements.
    
    4)Development: Develop and deliver high quality artifacts which are line with the business requirements and mirror client expectation. Documents procedures followed while development including unit test cases/results. Help peers in team and review code for code quality.
    
    5)Support: Provide production and post production support for artifacts including transition to support team and fixing any production issues encountered during or after business checkout.
    
</div>>
