<div class="pane greenColor">

    
    <div>
         <div class="anchorStyle"> Role and strength(Overview):</div>
          
          His major Roles and Responsibilities during the employment were as mentioned below.
         <ul> 
          <li><span class="anchorStyle">End to end execution of new projects</span>: Business needs, requirement analysis and formulation, preparation of system functionality specification, sprint planning
          and effort estimation, software design, development and delivery, implementation and support.
          </li>

          <li><span class="anchorStyle">Requirement Gathering</span>: Understand the business requirements by going through the business requirement document and with inputs from business analysts. Participate in creating high level estimate. Convert the business requirements into functional 
          and application specifications. 
          </li>

          <li><span class="anchorStyle">Design</span>: Creating technical and detailed design documents in order to provide deliverable in line with the business requirements.
          </li>

          <li><span class="anchorStyle">Development</span>: Develop and deliver high quality artifacts which are line with the business requirements and mirror client expectation. Documents procedures followed while development including unit test cases/results. Help peers in team and review code for code quality.
          </li>

          <li><span class="anchorStyle">Support</span>: Provide production and post production support for artifacts including transition to support team and fixing any production issues encountered during or after business checkout.
          </li>
          </ul>
        </div> 
</div>
<app-tech></app-tech>
